body {
    background-color: rgb(193, 205, 219);
}

.jumbotron {
    padding-top: 2rem;
    background-color: rgb(224, 236, 255);
}

#map {
    text-align: center;
}
.clickable-map {
    fill: #a5501f;
    stroke: #a5501f;
    stroke-width: 0.25;
    transition: 0.4s;
}
.clickable-map:hover {
    fill: #e27536;
    stroke: #e27536;
    transition: 0.4s;
    cursor: pointer;
}

#content {
    margin: 20px;
}

#map, #about {
    margin: 20px;;
}