#heading {
    font-family: 'Roboto', sans-serif;
    font-size: large;
    text-align: center;
    color: azure;
}

#subheading {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    text-align: center;
    color: azure;
}

#map {
    text-align: center;
}

body {
    background-color: rgb(63, 63, 63);
}