/* edit existing components */

body {
	background-color: #343A40;
}

/* custom components */

/* index.html */

.p {
	font-size: 1.2rem;
}

/* start button */
#start-button {
	background-color: #0D503C;
	transition: 0.4s;
}
#start-button:hover {
	background-color: #13795B;
	transition: 0.4s;
}

/* the page's title */
#title {
	padding-top: 20%;
	background-color: #212529;
}
#title lead {
	margin: 20px;
}
#title svg {
	padding-top: 10%;
}

/* the interactive map */
#map {
	text-align: center;
	margin: 20px;
}
.clickable-map {
	fill: #13795B;
	stroke: #13795B;
	stroke-width: 0.25;
	transition: 0.4s;
}
.clickable-map:hover {
	fill: #20C997;
	stroke: #20C997;
	cursor: pointer;
	transition: 0.4s;
}
.unclickable-map {
	fill: #1a1a1a;
	stroke: #1a1a1a;
	stroke-width: 0.25;
}

/* the about section */
#about {
	margin: 20px;
}

/* the comparison table */
#comparison {
	margin: 40px;
}

/* the footer */
.footer-container {
	background-color: #212529;
}
.footer {
	background-color: #212529;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 80%;
	height: 40vh;
}
.footer-content {
	display: flex;
	flex-direction: column;
}
.footer-content h2 {
	margin-bottom: 2rem;
}
.footer-content a {
	color:#EAF9ED;
	text-decoration: none;
	margin-bottom: 2rem;
	transition: 0.3s;
}
.footer-content a:hover {
	color: #FFFFDD;
	transition: 0.3s ease-out;
}

/* the tooltip for the map */
.tooltip-inner {
	font-size: large;
}