body {
	background-color: #343A40;
}

a {
	color:#EAF9ED;
	text-decoration: none;
	margin-bottom: 2rem;
	transition: 0.3s;
}
a:hover {
	color: #FFFFDD;
	transition: 0.3s ease-out;
}

/* jumbotron */
.jumbotron {
	margin: 5%;
}
.jumbotron lead {
	margin: 20px;
}

/* the content */
#stories {
	margin: 3rem;
	margin-bottom: 3rem;
}